@import url('https://fonts.googleapis.com/css2?family=Bodoni+Moda:ital,opsz,wght@0,6..96,400..900;1,6..96,400..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --brand: #af2324;
}
@layer base {
  * {
    font-family: 'Bodoni Moda', serif;
  }
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

